body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

label {
    margin-top: 10px;
}
